*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(../image/netflix-banner.jpg);
    background-position:center;
    background-size:cover;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12rem;
    padding: 30px 170px;

}
.banner .nav{
    display: flex;
    justify-content: space-between;
}
.banner .nav .logo img{
    height: 42px;
    width: 170px;

}
.banner .nav .select{
    display: inline-block;
    border: 1px solid #ffffff4f;
    margin-right: 5px;
    border-radius: 4px;
    padding: 2px 12px;
}

.banner .nav select{
    background-color: #00000030;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 4px 7px 4px 0px;
    font-size: 15px;
    outline: none;
}
.banner .nav .btn2{
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 15px;
    font-weight: 600;
}
.banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}
.banner-content .heading1{
    font-size: 48px;
    margin-block: 15px;
    font-weight: 900;
}
.banner-content .heading2{
    font-size: 24px;
    line-height: 57px;
    margin-bottom: 10px;
}
.banner-content .searchbar input{
    color: rgb(249, 248, 248);
    font-size: 17px;
    padding: 16px 13px;
    border-radius: 5px;
    width: 332px;
    margin-right: 3px;
    background-color: #0000008f;
    border: 1px solid #ffffff6b;
}
::placeholder{
    color: white;
}
.banner-content .searchbar .btn3{
    background-color: #e50914;
    font-size: 24px;
    padding: 12px 10px;
    width: 185px;
    border: none;
    font-weight: 600;
    border-radius: 6px;
}
.netflix-content .content1-3{
    height: 600px;
    background-color: black;
    border-top: 10px solid rgb(45, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 60px 60px 76px;
}
.netflix-content .content2-4{
    height: 600px;
    background-color: black;
    border-top: 10px solid rgb(45, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 60px 109px 76px;
}
.netflix-content .content img{
    height: 435px;
    width: 580px;
    background-color: black;
}
.netflix-content .content1 .img .video-tv1 video{
    height: 237px;
}
.netflix-content .content1 .img .image-tv1{
    position: absolute;
    top: 837px;
    right: 107px;
    background: transparent;
    z-index: 0;
}
.netflix-content .content3 .img .video-tv2 video{
    height: 208px;
    position: relative;
    left: 33px;
    top: -62px;
}
.netflix-content .content3 .img .image-tv2{
    position: absolute;
    top: 2042px;
    right: 100px;
    background: transparent;
    z-index: 0;
}

.netflix-content .content .para1{
    font-size:48px;
    font-weight:900;
    color:#ffffff;
}
.netflix-content .content .para2{
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    margin-top: 22px;
}
.footer{
    background-color: black;
    border-top: 9px solid #353131;
    padding: 50px 137px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer .footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,0));  
    gap: 5rem;
}
.footer .footer-content li{
    list-style-type: none;
}
/* .footer-button button{
    background-color: black;
    color: white;
    border: 1px solid #ffffff85;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: 15px;
    font-size: 15px;
} */
.footer-content li{
    margin-bottom:16px;
}
.footer .select{
    display: inline-block;
    border: 1px solid #ffffff4f;
    margin-right: 5px;
    border-radius: 4px;
    padding: 2px 12px;
    width: 121px;
}
.footer select{
    background-color: #00000030;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 4px 7px 4px 0px;
    font-size: 15px;
    outline: none;
}